<section class="tab">
    <ul class="nav nav-pills">
        <li ng-class="{ active: tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)">Description</a>
        </li>
        <li ng-class="{ active: tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)">Specs</a>
        </li>
        <li ng-class="{ active: tab.isSet(3) }">
            <a href ng-click="tab.setTab(3)">Reviews</a>
        </li>
    </ul>
    
    <description ng-show="tab.isSet(1)">
        {{product.description}}
    </description>
    
    <div ng-show="tab.isSet(2)" product-specs>
    </div>
    
    <reviews ng-show="tab.isSet(3)" collection="product.reviews"></reviews>
    
</section>