<div>
    <h4>Reviews</h4>
    <ul class="list-unstyled">
        <li ng-repeat="review in reviewCtrl.reviews">
            <blockquote>
                <strong>{{review.stars}} Stars</strong>
                {{review.body}}<br/>
                <footer>
                    <cite>{{review.author}} on {{review.createdOn | date:'dd/MM/yyyy'}}</cite>
                </footer>
            </blockquote>
        </li>
    </ul>
    <form name="reviewForm" ng-submit="reviewCtrl.addReview(reviewForm)" novalidate>
        <blockquote class="blockquote-reverse">
            <strong>{{reviewCtrl.review.stars}} Stars</strong>
            {{reviewCtrl.review.body}}<br/>
            <footer>
                <cite>{{reviewCtrl.review.author}}</cite>
            </footer>
        </blockquote>
        <h4>Submit a Review</h4>
        <fieldset class="form-group" ng-class="{'has-error': reviewForm.rStars.$dirty && reviewForm.rStars.$invalid}">
            <select name="rStars" ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
                <option value="">Rate the Product</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <textarea name="rBody" ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
        </fieldset>
        <fieldset class="form-group" ng-class="{'has-error': reviewForm.rAuthor.$dirty && reviewForm.rAuthor.$invalid}">
            <input name="rAuthor" ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required />
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" class="btn pull-right" ng-class="reviewForm.$dirty && reviewForm.$invalid ? 'btn-danger' : 'btn-primary'" value="Submit Review" />
        </fieldset>
    </form>
</div>